.inputDiv {
  &:focus-within label, &.focusActive label {
    color: #2962FF;
  }

  &.errorLabel label, &.errorLabel p, &.errorFocusActive label {
    color: #D32F2F;
  }

  &.errorLabel:hover label, &.errorLabel:hover p, &.errorHoverActive label {
    color: #333333;
  }
}

.label {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;

  color: #333333;

  
}

.input {
  display: flex;

  height: 5vh;
  border: 1px solid #828282;
  padding: 0 1vw;

  border-radius: 0.8rem;

  outline: none;

  &::placeholder {
    color: #828282;
    font-family: 'Noto Sans', sans-serif;
  }

  &:hover, &.hoverActive {
    border: 1px solid #333333;
  }

  &:hover, &.errorHoverActive {
    border: 1px solid #333333;
  }
  
  &:focus, &.focusActive {
    border: 1px solid #2962FF;
  }
}

input:disabled {
  background-color: #F2F2F2;
  border: 1px solid #E0E0E0;

  &:hover {
    border: 1px solid #E0E0E0;
  }
}

.error {
  border: 1px solid #D32F2F;

  &:focus, &.focusActive {
    border: 1px solid #D32F2F;
  }
}

.helperText {
  font-size: 1rem;
  color: #828282;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 0.5vh;
}