.inputDiv {
  &:focus-within label, &.focusActive label {
    color: #2962FF;
  }

  &.errorLabel label, &.errorLabel p, &.errorFocusActive label {
    color: #D32F2F;
  }

  &.errorLabel:hover label, &.errorLabel:hover p, &.errorHoverActive label {
    color: #333333;
  }
}

.inputWithRightIconDiv, .inputWithLeftIconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #828282;
  border-radius: 0.8rem;

  &::placeholder {
    color: #828282;
    font-family: 'Noto Sans', sans-serif;
  }

  &:hover, &.hoverActive, &.errorHoverActive {
    border: 1px solid #333333;
  }
  
  &:focus-within, &.focusActive {
    border: 1px solid #2962FF;
  }
}

.inputWithLeftIconDiv {
  padding-left: 1vw;
}

.label {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;

  color: #333333;
}

.input {
  display: flex;

  height: 5.8vh;
  border: 1px solid #828282;
  padding: 0 1vw;

  border-radius: 0.8rem;

  outline: none;

  &::placeholder {
    color: #828282;
    font-family: 'Noto Sans', sans-serif;
  }

  &:hover, &.hoverActive, &.errorHoverActive {
    border: 1px solid #333333;
  }
  
  &:focus, &.focusActive {
    border: 1px solid #2962FF;
  }
}

input:disabled {
  background-color: #F2F2F2;
  border: 1px solid #E0E0E0;

  &:hover {
    border: 1px solid #E0E0E0;
  }
}

.inputWithIcon {
  height: 5.8vh;
  margin-left: 0.1vw;
  outline: none;
  border: none;
}

.error {
  border: 1px solid #D32F2F;

  &:focus, &.focusActive {
    border: 1px solid #D32F2F;
  }
}

.helperText {
  font-size: 1rem;
  color: #828282;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 0.5vh;
}

.materialIcons {
  font-size: 1.7rem;
  margin: 0 .5rem;
}

.sm {
  height: 4.5vh;
}

.md {
  height: 5.8vh;
}

.fullWidth {
  width: 65vw;
}